/* App.css */
html, body, #root {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

header {
  padding: 10px;
  background: linear-gradient(to right, red, orange);
  color: white;
  font-weight: bold;
}

section {
  flex: 1; /* take remaining space */
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  padding: 10px;
  text-align: center;
  background: linear-gradient(to right, orange, red);
  color: white;
}
